---
import Layout from '../layouts/Layout.astro';

import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';

import background_video from '../content/background_video.mp4';
import logo from '../content/baja.png';
import vehicle_1 from '../content/vehicle_1.jpg';
import puglisevich from '../content/sponsors/puglisevich.png';
import pegnl from '../content/sponsors/PEGNL.png';
import afonso from '../content/sponsors/afonso.jpeg';
import stjohns from '../content/sponsors/stjohns.jpeg';
import ieee from '../content/sponsors/ieee.png';
import colab from '../content/sponsors/colab.png';
import maderra from '../content/sponsors/maderra.png';
import fortis from '../content/sponsors/fortis.png';
import govnl from '../content/sponsors/govnl.png';
---

<Layout>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
	<main>
		<div class="object-cover w-full max-w-full min-h-[60rem] xl:max-h-[60rem] top-0 flex justify-center items-center">
			<div class="font-orbitron text-white text-7xl text-right z-10">Memorial<br>Baja</div>
			<video
    			autoplay
   				loop
    			muted
				playsinline
    			class="object-cover absolute brightness-50 w-full min-h-[60rem] xl:max-h-[50rem] max-w-full top-0"
  			>
				<source
      				src={background_video}
      				type="video/mp4"
    			/>
			</video>
		</div>
		<div id="about" class="object-cover w-full max-w-full min-h-[94vh] top-0 flex justify-center">
			<div class="flex flex-col md:flex-row md:max-w-screen">
				<img class="object-cover w-full h-full md:w-1/2" src={vehicle_1} alt="">
				<div class="flex flex-col md:p-4 p-10 leading-normal justify-center md:space-y-20 space-y-5">
					<div>
						<div class="mb-3 text-3xl font-bold text-gray-200">The Competition</div>
						<div class="mb-3 font-normal text-gray-400">
							The Society of Automotive Engineers hosts three Baja competitions in different regions of North America, each of which draws out teams from over 100 universities. The competitions are designed to simulate a real-world engineering project of designing an off-road vehicle capable of handling all types of rough terrain. The competition is broken up into two components: static events and dynamic events.<br>
							The static events consist of a thorough safety inspection followed by a vehicle design presentation for the judges. The dynamic events consist of short performance events and an endurance race.
						</div>
						<a href="https://www.sae.org/attend/student-events"><button type="button" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Read More</button></a>
					</div>
					<div>
						<div class="mb-3 text-3xl font-bold text-gray-200">The Team</div>
						<div class="mb-3 font-normal text-gray-400">
							Memorial Baja is a student team working together to meet the various demands encountered in building an off-road racing vehicle. From marketing to advanced engineering design, students are challenged and ultimately brought together in a positive learning experience. A Baja SAE vehicle is a single-seat off-road racer. They typically weigh under 500 pounds and are capable of speeds up to 50 km/h. Competing teams are supplied with the engine and are required to design and build the vehicle from the ground up following sound engineering practices.
						</div>
						<div class="flex-row">
							<button type="button" onclick="location.href='https://www.linkedin.com/company/memorialbaja/posts/?feedView=all'" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block px-6 py-2.5 mb-2 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out" style="background-color: #0077b5;">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4">
								  <path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
								</svg>
							</button>
							<button type="button" onclick="location.href='https://www.instagram.com/memorialbaja/?hl=en'" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block px-6 py-2.5 mb-2 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out" style="background-color: #c13584;">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4">
								  <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="sponsors" class="object-cover w-full max-w-full min-h-[94vh] top-0 flex justify-center pb-10">
			<div class="flex flex-col md:flex-row md:max-w-screen">
				<div class="flex flex-col p-4 items-center leading-normal">
					<div class="mb-2 md:pt-5 xl:pt-10 text-7xl font-bold tracking-tight text-white">Sponsors</div>
					<div class="mb-3 font-normal text-gray-400">
						Sponsors are a crucial part of our team. They allow us to both fund the design and fabrication of our vehicle and allow us to enter and travel to our competitions! For that, we'd like to thank our sponsors below!
					</div>
					<a href="https://drive.google.com/file/d/1HCRrHg67II2oJA97SNaRoiS3DNWkNo-Q/view?usp=sharing"><button type="button" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Sponsorship Presentation</button></a>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-6xl  font-bold tracking-tight text-white">Title Sponsor</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-5xl  font-bold tracking-tight text-white">E85</div>
						<div class="flex row-auto items-center space-x-10">
							<a href="https://puglisevich.com/">
								<img src={puglisevich}>
							</a>
							<a class="font-bold text-2xl tracking-tight text-white" href="https://www.mun.ca/engineering/undergraduate/community-service-and-volunteering/angus-bruneau-student-life-program/">
								Angus Bruneau Student LIFE Program
							</a>
							<a href="https://www.gov.nl.ca/">
								<img class="h-20" src={govnl}>
							</a>
						</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-4xl  font-bold tracking-tight text-white">94 Octane</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-3xl font-bold tracking-tight text-white">90 Octane</div>
						<div class="flex flex-row items-center space-x-10">
							<a href="https://pegnl.ca/">
								<img class="h-20"src={pegnl}>
							</a>
							<a href="https://www.stjohns.ca/">
								<img class="h-10"src={stjohns}>
							</a>
							<a href="https://www.ieee.org/">
								<img class="h-10" src={ieee}>
							</a>
							<a href="https://www.fortisinc.com/">
								<img class="h-10" src={fortis}>
							</a>
						</div>
					</div>
					<div class="flex flex-col items-center">
						<div class="pt-10 text-2xl font-bold tracking-tight text-white">87 Octane</div>
						<div class="flex flex-row items-center space-x-5">
							<a href="https://afonsogroup.com/">
								<img class="h-10"src={afonso}>
							</a>
							<a href="https://colabsoftware.com">
								<img class="h-10" src={colab}>
							</a>
							<a href="https://www.maderra.ca">
								<img class="h-10" src={maderra}>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<Footer />
	</main>
</Layout>
